.login {
  height: calc(100vh - 50px);
}
.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 0px 10px 36px 12px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 36px 12px rgba(0, 0, 0, 0.47);
}
.loginTitle {
  margin-bottom: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

/* Button */
.btnWrapper {
  display: flex;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 33px;
  height: 33px;
  padding-left: 1px;
  background-color: #fff;
  margin-left: 1px;
  position: absolute;
  cursor: pointer;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  height: 35px;
  width: 200px;
  cursor: pointer;
  line-height: 40px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  padding-left: 20px;
  background-color: #4285f4;
}

.github {
  background-color: black;
}

.githubIcon {
  background-color: transparent;
}
.right {
  flex: 4;
  height: 100%;
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
  -webkit-box-shadow: 4px 2px 36px 7px rgba(0, 0, 0, 0.45);
  box-shadow: 4px 2px 36px 7px rgba(0, 0, 0, 0.45);
}
